body {
  margin: 0;
  padding: 0;
}

header {
  // position: absolute;
  height: 100vh;
  video {
    width: 99vw;

    position: fixed;

    source {
    }
  }
}
//   border: 4px solid black;
.video-container {
  position: relative;
  .logo {
    left: 50px;
    top: 30px;
    position: relative;
    img {
      position: relative;
      height: 160px;
      width: 138px;
    }
  }
  .text-nav {
    left: 30px;
    bottom: 180px;
    justify-content: flex-end;
    width: 97vw;
    display: flex;

    position: relative;

    p {
      position: relative;

      padding: 0 20px 0 0;

      text-transform: uppercase;
      font-size: 50px;
      font-family: "Pathway Gothic One", sans-serif;
    }
  }
  .text {
    // position: relative;
    margin: -50px 20px 0 500px;

    display: flex;
    flex-direction: column;
    h1 {
      font-size: 90px;
      position: relative;

      font-family: "Pathway Gothic One", sans-serif;

      font-family: "Anton", sans-serif;
    }
    p {
      bottom: 155px;
      font-size: 72px;
      position: relative;
      font-family: "Pathway Gothic One", sans-serif;
    }
  }
}

main {
  position: absolute;
  // border: black solid 4px;

  width: 100vw;

  #container-boxs {
    background-color: white;
    background-size: cover;
    height: 148vh;
    position: relative;

    .boxs {
      height: 370px;
      width: 580px;
      display: flex;
      position: relative;
      margin-left: 240px;
      .box {
        padding: 70px 70px 70px 70px;

        position: relative;

        img {
          height: 360px;
          width: 260px;
          position: relative;
        }
      }
      .box2 {
        img {
          height: 230px;
        }
      }
      .box3 {
        img {
          position: relative;
          bottom: 107px;
          height: 470px;
        }
      }
    }
  }
}
